<div class="container">
    <div>
        <h3>Y Component</h3>
    </div>
    
    <form #getForm="ngForm" (submit)="getData(getForm.value)">
        <div class="form-group">
          <label for="name">Edit Name</label>
          <input type="text" class="form-control" name="name" value="name"  placeholder="Enter Name" ngModel>
        </div>
        
        <button type="submit" class="btn btn-success">save</button>
       
      </form>
      <div *ngIf="submitted">
        <div>The name in X component is {{data}}</div>
        <div>The name in Y component is {{Ydata}}</div>
      </div>
      
</div>
